<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition PlannerHome Page </title>
     <link rel="stylesheet" href="static/FirstPageCss.css">

</head>

<body>
    <div class="Section_top"> <!-- Background Image Auto Change-->
    <nav class="navbar">
        <a href="#Homepage">Home</a>
        <a href="#Nutrient">Nutrient</a>
        <a href="#LogMeal">Log Meal</a>
        <a href="#FoodList">Food List</a>
        <a href="#aboutus">About Us</a>
    </nav>  <!--Nav Bar-->
        <div class="content" id="Homepage"> <!-- Home Page Session -->
            <div>
            <img class="icon" src="static/images/icon.PNG" height="64px" width="64px" style="border-radius:70px;">
            </div>
            <h1>
                Be Happy By What You Eat </h1>
                <p>Learn about nutrition data behind your food.Log your meals and track micronutrients that matter to you.</p>
            <a href="/signup">Sign Up</a>
        </div>  <!-- Background Image Auto Change-->
        <div class="loginstyle">
            <p style="color:white">Already Have An Account ? <a href="/signup" class="login" >Login</a> </p>
        </div>
    </div>

    <div class="Nutrient" id="Nutrient"> <!-- Nutrient Section -->
        <p style="color:white">Find Nutrient Rich Food Sort and Find Nutrient Rich Foods</p> <!-- Flex horizontally-->
        <div class="options">
            <ol style="color:white">
            <li style="font-weight:bold" >Search Diet Chart <ul style="font-weight:normal;color:orange">Prioritize whole foods like fruits, vegetables, lean proteins, and whole grains.
                Consider nutrient density, which focuses on maximizing nutrients per calorie.</ul></li>
            <li style="font-weight:bold">Find New Recipie <ul style="font-weight:normal;color:orange">Explore a variety of colorful fruits and vegetables for a wide range of vitamins and minerals.
                Include whole grains such as quinoa, brown rice, and oats for fiber and sustained energy.</ul></li>
            <li style="font-weight:bold">Improve Health<ul style="font-weight:normal;color:orange">Experiment with diverse ingredients to keep meals interesting and nutritionally rich.
                Look for recipes that incorporate a variety of vegetables, lean proteins, and whole grains.</ul></li>
        </ol>
        </div>
        <div class="image_nutrient">
            <img src="static/front7.jpg" width="600px" height="400px">
            <div class="middle">
                <div class="text" >Unveiling the hidden treasures within our food not only nourishes the body but unlocks the door to effortless fitness and vibrant health.</div>
            </div>
        </div>
    </div>

    <div class="image-container">  <!-- Simple Image-->
            <img src="static/front1.jpg" width="300px" height="200px">
            <img src="static/front2.jpg" width="300px" height="200px">
            <img src="static/front4.jpg" width="300px" height="200px">
            <img src="static/front6.jpg" width="300px" height="200px">
    </div>

    <div id="LogMeal" class="LogMeal_container"> <!--LogMeal session -->
        <div class="image_log">
            <img src="static/frontimage6.jpg">
            <div class="middle">
                <div class="text">Understand the importance of essential nutrients like vitamins, minerals, and antioxidants in maintaining overall health.</div>
            </div>
        </div>
        <p class="optiontext" style="color:white">Plan and log your meals</p>
        <div class="options_logmeal">
            <ol style="color:white">
            <li style="font-weight:bold" >
                Plan Your Meal
                <ul style="font-weight:normal;color:orange">Ensure a balance of macronutrients - carbohydrates, proteins, and fats. Include a variety of food groups such as fruits,
                vegetables, lean proteins, whole grains, and healthy fats.</ul></li>
            <li style="font-weight:bold">Learn Meal Nutrient <ul style="font-weight:normal;color:orange">Learn about portion sizes to avoid overeating. Balancing your intake of carbohydrates, proteins, and fats is crucial for a well-rounded diet.</ul></li>
            <li style="font-weight:bold"> Log Your Meal <ul style="font-weight:normal;color:orange">Regularly review your food logs to monitor your progress towards your dietary goals. Adjust your meals as needed to stay on track.</ul></li>
        </ol>
        </div>
    </div>

    <div class="Nutrient" id="FoodList">
        <p style="color:white">Compare foods, ingredients, and recipes </p> <!-- Flex horizontally-->
        <div class="options">
            <ol style="color:white">
            <li style="font-weight:bold" >Nutritional Content <ul style="font-weight:normal;color:orange">Compare the nutritional profiles of different whole foods.
                Consider the levels of essential nutrients, including vitamins, minerals, protein, carbohydrates, and fats.
                Choose foods that align with your dietary goals.</ul></li>
            <li style="font-weight:bold">Find Your Recipes <ul style="font-weight:normal;color:orange">Evaluate the nutritional balance of recipes.
                A well-rounded recipe includes a mix of protein, carbohydrates, healthy fats, vitamins, and minerals.</ul></li>
            <li style="font-weight:bold">Health Benefits<ul style="font-weight:normal;color:orange">Assess the overall health benefits of different foods.
                For example, fatty fish like salmon provides omega-3 fatty acids, which are beneficial for heart health.</ul></li>
        </ol>
        </div>
        <div class="image_nutrient">
            <img src="static/frontimage4.jpg" width="600px" height="400px">
            <div class="middle">
                <div class="text" >Explore ingredients from different cuisines to add unique flavors to your dishes.</div>
            </div>
        </div>
    </div>

    <div class="image-container" >  <!-- Simple Image-->
            <img src="static/frontimage1.jpg" width="300px" height="200px">
            <img src="static/frontimage2.jpg" width="300px" height="200px">
            <img src="static/frontimage5.jpg" width="300px" height="200px">
            <img src="static/frontimage6.jpg" width="300px" height="200px">
    </div>

    <div class="aboutus" id="aboutus">
        <h1>Discover and Learn About New Foods</h1>
        <div>
            <span>"Investing time in your health is the wisest investment,
                as it pays dividends in every aspect of your existence."
            </span>
            <div>
            <img src="static/front8.jpg" width="300px" height="300px" style="border-radius:5900px"></div>
            <p>
                "Health is the cornerstone of a fulfilling life, providing the energy and vitality needed to pursue our passions and dreams.
                It's not merely the absence of illness but the foundation upon which we build our aspirations. Prioritizing one's health is an investment in a vibrant and productive future, where each day becomes an opportunity to live life to the fullest. Without good health, the pursuit of other life goals loses its essence,
                making well-being the true wealth that underlies all achievements."
            </p>
        </div>

        <div class="bottom_login">
            <p>Create A New Account To experience A Change </p>
            <a href="/signup">Sign Up Now</a> <p>To Find You Diet Plan</p>
        </div>
    </div>
</body>
</html>